:root{
    --texto: #BFCFE7;
    --botones: #525CEB;
    --fondo: #3D3B40;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", sans-serif;
    color: var(--texto);
    
  
}
.principal{
    height: calc(100vh - 70px); /*Adaptar respecto al header*/
    width: 100%;
    margin-top: 70px;
    padding-top: 50px;    
    background-color: var(--fondo) ;
    
}
.principal-wrapper{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}
.img-container{
    width: 15vw;
    height: auto;
    object-fit: fill;
}
.img-container img{
    width: 15vw;
}
